@charset "utf-8";

/****************************************************************************** 
  Form Mobile
******************************************************************************/
.form-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form-row.vertical {
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}
.form-row.form-row.vertical input {
  flex: 1;
}
.form-row.form-row.vertical > label {
  margin-bottom: calc(10rem / 16);
}
.form-row + .form-row {
  margin-top: calc(20rem / 16);
}

/****************************************************************************** 
  @Label
******************************************************************************/
label,
.label {
  font-size: calc(14rem / 16);
  font-weight: 500;
  letter-spacing: -0.49px;
}

/****************************************************************************** 
  @Input
******************************************************************************/
input {
  padding: calc(13rem / 16) calc(14rem / 16);
  border: calc(1rem / 16) solid #dddddd;
  border-radius: calc(4rem / 16);
  font-size: calc(14rem / 16);
  letter-spacing: -0.49px;
}
input::placeholder {
  font-size: calc(14rem / 16);
  opacity: 0.4;
}
input:focus {
  outline: none;
}

/****************************************************************************** 
  @Button
******************************************************************************/
button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(40rem / 16);
  border-radius: calc(8rem / 16);
  background: #ff6e39;
  border: calc(2rem / 16) solid #ff6e39;
  font-size: calc(14rem / 16);
  font-weight: 500;
  letter-spacing: -0.21px;
  color: #fff;
  box-shadow: 0px calc(8rem / 16) calc(8rem / 16) #00000014;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  cursor: pointer;
}
button:hover,
.button:hover {
  background: #fff;
  color: #ff6e39;
}

/****************************************************************************** 
  @Checkbox
******************************************************************************/
.checkbox_wrapper {
  position: relative;
}
.checkbox_wrapper input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.checkbox_wrapper label {
  display: inline-block;
  height: calc(30rem / 16);
  padding: 0 calc(29rem / 16);
  border: calc(1rem / 16) solid #dddddd;
  border-radius: calc(8rem / 16);
  font-size: calc(12rem / 16);
  line-height: 2.33333333;
  font-weight: 500;
  color: #818181;
  letter-spacing: -0.34px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.checkbox_wrapper input:checked ~ label {
  border-color: #ff6e39;
  color: #ff6e39;
}
