@charset "utf-8";

/****************************************************************************** 
  Header Mobile
******************************************************************************/
header {
  position: absolute;
  top: 0;
  z-index: 2001;
}
header.sub {
  position: -webkit-sticky;
  position: sticky;
  top: calc(-55rem / 16);
}

/****************************************************************************** 
  @logo
******************************************************************************/
header > .logo {
  margin: 0;
  padding: calc(14rem / 16);
}
header > .logo a {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
  width: calc(69rem / 16);
  height: calc(27rem / 16);
  background: url(../img/logo.svg) no-repeat left top / contain;
  vertical-align: bottom;
}
header > .logo.inverted a {
  background-image: url(../img/logo_dark.svg);
}

/****************************************************************************** 
  @navigation
******************************************************************************/
nav {
  display: flex;
  justify-content: space-between;
  padding: calc(20rem / 16) calc(14rem / 16);
  z-index: 2;
  background: #f7f7f7;
  display: none;
}
nav .nav-item {
  font-size: calc(14rem / 16);
  color: #464646;
  letter-spacing: -0.49px;
  opacity: 0.8;
}

nav .nav-item.active {
  font-weight: 700;
  color: #ff6e39;
}
